body {
    background: linear-gradient(to right, #381a1a, #181a31);   
    // background: white;    

    // &.dark-mode {
    //     background: linear-gradient(to right, #381a1a, #181a31);    
    // }
}

.carousel {
    margin-top: 7rem;
}

.my-container {
    width: calc(100vw - 2rem);
    max-width: 1500px;
    min-height: calc(100vh - 13rem);
    margin: 1rem;
}

.my-rounded-corner {
    border-radius: 1rem;
    box-shadow: 0px 0px 1.5rem rgba(145, 158, 230, 0.3);
}

label.xng-breadcrumb-trail {
    color: orange;
}
