body {
    background: linear-gradient(to right, #381a1a, #181a31);    
}

.my-container {
    max-width: 1500px;
    min-height: calc(100vh - 13rem);
    margin: 1rem;
}

.my-rounded-corner {
    border-radius: 1rem;
    box-shadow: 0px 0px 1.5rem rgba(145, 158, 230, 0.3);
}

.my-empty {
    height: 5rem;
}