<div class="row" *ngIf="product">
  <div class="col-6">
    <div class="d-flex justify-content-center align-items-center m-2">
      <img
        src="{{ product.pictureUrl }}"
        alt="{{ product.name }}"
        class="img-fluid w-100"
      />
    </div>
    <div
      class="image-thumbnails d-flex justify-content-between align-items-center"
    >
      <img
        src="{{ product.pictureUrl }}"
        alt="{{ product.name }}"
        (click)="imageIndex = 1"
      />
      <img
        src="{{ product.pictureUrl }}"
        alt="{{ product.name }}"
        (click)="imageIndex = 2"
      />
      <img
        src="{{ product.pictureUrl }}"
        alt="{{ product.name }}"
        (click)="imageIndex = 3"
      />
      <img
        src="{{ product.pictureUrl }}"
        alt="{{ product.name }}"
        (click)="imageIndex = 4"
      />
      <img
        src="{{ product.pictureUrl }}"
        alt="{{ product.name }}"
        (click)="imageIndex = 5"
      />
    </div>
  </div>
  <div class="col-6">
    <h3 class="text-center m-3">{{ product.name }}</h3>
    <p class="text-center" style="font-size: 3em">
      {{ product.price | currency }}
    </p>
    <div class="d-flex justify-content-center align-items-center">
      <i
        class="fa fa-minus-circle text-warning mx-4 my-shadow"
        style="cursor: pointer; font-size: 2em"
      ></i>
      <span class="font-weight-bold">2</span>
      <i
        class="fa fa-plus-circle text-warning mx-4 my-shadow"
        style="cursor: pointer; font-size: 2em"
      ></i>
      <button
        (click)="addItemToBasket()"
        type="button"
        class="btn btn-outline-info btn-lg ms-4 fa fa-3x fa-shopping-cart"
      ></button>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12 ms-3">
      <h4>Description</h4>
      <p>{{ product.description }}</p>
    </div>
  </div>
</div>
