<div
  class="my-nav-bar d-flex flex-column flex-md-row align-items-center justify-content-between my-bg-custom fixed-top"
>
  <img
    src="/assets/images/logo.png"
    alt="logo"
    style="max-height: 70px"
    class="my-shadow m-2"
  />
  <nav class="mt-2 mt-md-0 me-md-3">
    <a
      class="m-3 text-white fs-4 text-decoration-none my-shadow"
      href="#"
      >Home</a
    >
    <a
      class="m-3 text-white fs-4 text-decoration-none my-shadow"
      href="#"
      >Shop</a
    >
    <a
      class="m-3 text-white fs-4 text-decoration-none my-shadow"
      href="#"
      >Contact</a
    >
  </nav>
  <div class="d-flex align-items-primary">
    <a class="position-relative">
      <i class="fa fa-shopping-cart fa-3x me-4 text-dark my-shadow"></i>
      <div class="cart-no">5</div>
    </a>
    <a class="btn btn-outline-info m-2">Login</a>
    <a class="btn btn-outline-info m-2">Sign Up</a>
  </div>
</div>
