nav {
    font-size: large;
}

.bg-custom {
    background: linear-gradient(to right, #e66465, #9198e5);
  }

.my-shadow:hover {
    box-shadow: 0px 0px 1.5rem rgba(214, 7, 233, 0.87); 
}

.cart-no {
    position: absolute;
    min-height: 25px;
    min-width: 25px;
    border-radius: 50%;
    border-color: #a9aee6;
    border-style: solid ;
    font-size: 1em;
    background: blue;
    color: white;
    text-align: center;
    top: -10px;
    right: 40%;
}